<header class="container" #header>
  <div class="logo">
    <img src="../../../../../assets/images/expert-apps-logo-color@2x.png" alt="">
  </div>
  <div class="links">
    <ul>
      <li>
        <a class="active">home</a>
      </li>
      <li>
        <a>about us</a>
      </li>
      <li>
        <a>solutions</a>
      </li>
      <li>
        <a>client & testimonials</a>
      </li>
      <li>
        <a>our team</a>
      </li>
      <li>
        <a>blog</a>
      </li>
    </ul>
  </div>
  <div class="lang">
    <button>ع</button>
  </div>
</header>
