<footer>
  <div class="upper">
    <div class="container">
      <div class="logo">
        <img src="../../../../../assets/images/expert-apps-logo-white@2x.png" alt="">
      </div>
      <div class="links">
        <ul>
          <li>
            <a>about us</a>
          </li>
          <li>
            <a>solutions</a>
          </li>
          <li>
            <a>careers</a>
          </li>
          <li>
            <a>contact us</a>
          </li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li>
            <a href="#">
              <i class="flaticon-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="flaticon-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="flaticon-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lower">
    <div class="container">
      <span>
        &copy; 2020 expert apps, all rights reserved.
      </span>
    </div>
  </div>
</footer>
